#less_compiler_setting label {
    font-weight: normal;
}

#less_compiler_setting input[type=checkbox] {
    display: none;
}

#less_compiler_setting input[type=checkbox] + label:before {
    font-family: FontAwesome;
    font-size: 20px;
    width: 30px;
    text-align: center;
    border-radius: 3px;
    background: #E9ECF2;
    border: 1px solid #c3c9d4;
    display: inline-block;
    margin-right: 10px;
}

#less_compiler_setting input[type=checkbox] + label:before {
    padding-left: 2px;
    color: #c3c9d4;
    content: "\f00d";
}

#less_compiler_setting input[type=checkbox] + label:before {
}

#less_compiler_setting input[type=checkbox]:checked + label:before {
    padding-left: 2px;
    color: #3CB594;
    content: "\f00c";
}

#less_compiler_setting input[type=checkbox]:checked + label:before {
}
